*~
*.swp
.idea
build
cmake-build-*
/build_*
/build-*
/debug
/Debug
/release
/Release
.DS_store
*.AppImage
appdir
/ffmpeg*
/Chiaki
/SDL2-*
/opus*
/ffmpeg*
/libplacebo*
/sdl2-*
/protoc*
/openssl*
scripts/chiaki-ng.iss
scripts/Output
.vs
CMakeSettings.json
chiaki.rb
gui/chiaking.rc
*.jks
secret.tar
keystore-env.sh
compile_commands.json
.ccls-cache
.cache/
.gdb_history
chiaki.conf
/appimage
.cache/
*.vscode
site/
/gui/src/qml/qtwebengine_import.qml
psstream_research/
pylux_research/
.cursor/
chiaki-ng-Win/
chiaki_fastbuild_logs.txt
.temp/
host/

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad